
 {{!-- ===================================header============================= --}}

   <header class='header'>
     <div class="container"> 
     {{> _navbar}}
     <div class='logo-box'>
        <img src="../public/images/logo_transparent.png" alt="logo" class='logo'>
      </div>
      <div class='text-box'>
        <h1 class='primary-heading'> 
          <span class='top-heading'>store your most precious memories </span>
          <span class='sub-heading'>sefely and securely </span>
        </h1>
        <a href="#" class='btn btn-white'> Discover your memory</a>
      </div>
      </div>
  </header>

<div class='container'>
<section class='first-section'>

  <div class='box-1'>pasfasdasdff</div>
  <div class='box-2'>asdfasfasdf</div>
  <div class='box-3'>asfasfasfasf</div>

</section>
</div>


{{!-- <section>
  <h2>Upload your photo</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="name">Title</label>
    <input type="text" name="name" id='name'>
    <input type="file" name="photo" >
    <input type="submit" value="Save">
  </form>
</section>



<section>
  {{#each pictures}}
    <h3>{{ this.name }}</h3>
    <img src="{{ this.path }}" alt="{{ this.originalName }}" />

    <form action="/comment/add" method='POST'>

    <textarea name="comment" id="" cols="30" rows="3" value='' placeholder='Add a comment'></textarea>
    <button>Send</button>
    </form>

  {{/each}}
</section> --}}