* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 3rem; }

.container {
  width: 85%;
  margin: 0 auto; }

img {
  width: 300px; }

.header {
  height: 110vh;
  background-image: linear-gradient(to right bottom, #00c5cc, #7c2ae8);
  background-size: cover;
  background-position: center;
  position: relative; }

.logo-box {
  position: absolute;
  top: 0.5rem;
  left: 4rem; }

nav li {
  list-style-type: none;
  float: right;
  margin-left: 3rem;
  padding-top: 5rem; }

nav li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem; }

nav li a:hover {
  border-bottom: 0.5rem solid #fff;
  color: white;
  text-decoration: none;
  font-size: 2rem; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.primary-heading {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }

.top-heading {
  display: block;
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 5.5rem; }

.sub-heading {
  display: block;
  font-weight: 400;
  font-size: 3.7rem;
  line-height: 5.5rem; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.3rem 4rem;
  display: inline-block;
  border-radius: 13rem; }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px); }

.first-section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 50rem; }

.box-1 {
  width: 30%;
  height: 50rem;
  border: 2px solid white;
  margin-top: 6rem;
  background-image: url(../images/pexels-photo-1143367.jpeg);
  background-size: cover;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  transition-duration: 1.5s;
  transition-property: all; }

.first-section div:hover {
  border-radius: 50%;
  transform: rotateY(180deg); }

.box-2 {
  width: 30%;
  height: 50rem;
  border: 2px solid white;
  margin-top: 6rem;
  background-image: url(../images/pexels-photo-1144695.jpeg);
  background-size: cover;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  transition-duration: 1.5s; }

.box-3 {
  width: 30%;
  height: 50rem;
  border: 2px solid white;
  margin-top: 6rem;
  background-image: url(../images/pexels-photo-1068205.jpeg);
  background-size: cover;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  transition-duration: 1s,3s; }

.first-section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 50rem; }

.login-page {
  background-image: linear-gradient(to right, #cc2b5e, #753a88);
  height: 100vh; }

.login-box {
  width: 50%;
  color: white;
  position: relative;
  top: 10rem; }

.second-section {
  background-image: linear-gradient(to right bottom, #00c5cccb, #7c2ae8cb), url(../images/pexels-photo-991012.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 70rem;
  color: white;
  padding: 25rem; }

.retro {
  font-size: 15rem;
  float: left;
  padding: 2rem; }

.add-image-page {
  height: 100vh;
  font-size: 2.5rem;
  background-size: cover;
  background-position: center;
  padding: 10rem;
  color: black; }

.camera {
  font-size: 12rem;
  display: block;
  text-align: center; }

.file-btn {
  margin: 2rem 0;
  border: 0.15rem solid rgba(128, 128, 128, 0.2);
  font-size: 1.6rem;
  border-radius: 0.5rem; }

.profile-page-box {
  line-height: 4rem;
  background-image: url(../images/android-wallpaper-beach-bird-s-eye-view-982263.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; }

.profile-page-box p {
  line-height: 4rem;
  font-size: 2rem;
  margin-top: 2rem; }

.profile-page-img img {
  width: 400px; }

.profile-innerbox {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.678);
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 30%;
  margin-top: 4rem; }

.register-page-box .container {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("../images/pexels-photo-901944.jpeg");
  background-size: cover;
  background-position: center;
  padding: 3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.83);
  width: 78%; }

.register-page-box {
  margin: 6rem 0; }

.register-page-box label {
  display: block; }

.register-page-box input {
  width: 35%;
  height: 2.5rem;
  border-radius: 1px;
  margin-bottom: 1.5rem;
  border: 1px solid black; }

.register-page-box textarea {
  width: 35%;
  border-radius: 1px;
  display: block;
  margin-bottom: 1.5rem;
  padding: 1rem; }

.register-page-box button {
  padding: 1.5rem;
  width: 17.5%;
  border-radius: 13rem;
  font-size: 1.5rem;
  background-color: #00c5ccea;
  letter-spacing: 2px;
  text-transform: uppercase; }

.image-showcase {
  padding-top: 5rem; }

.image-showcase img {
  width: 100rem;
  border: 1px solid white; }

.image-showcase h2 {
  text-align: center;
  font-size: 5rem; }

.image-box {
  display: flex;
  flex-wrap: wrap; }

.each-image-box {
  padding: 40px;
  margin-left: 5.5rem; }

.image-detail img {
  width: 50rem;
  border: 1px solid white; }

.album-box {
  display: flex;
  flex-wrap: wrap; }

.album-page {
  background-image: linear-gradient(to right, #cc2b5e, #753a88);
  background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 5rem 0; }

.vd-section {
  position: relative; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  margin-top: 5rem; }
  .bg-video_content {
    height: 80%;
    width: 100%;
    object-fit: cover; }

/*# sourceMappingURL=style.css.map */