{{> _errors}}



<form action="/users/login" method='Post'>

<label for="email">Email</label>
<input type="text" id='email' name="email">

<label for="password">Password</label>
<input type='password' id='email' name="password">



<button>Log in</button>

</form>